NEXT_PUBLIC_BE_URL=""
NEXT_PUBLIC_BASE_PATH="" # e.g. /popisujeme for subpath deployments, empty for root local run
KEYCLOAK_CLIENT_ID=""
KEYCLOAK_CLIENT_SECRET=""
KEYCLOAK_ISSUER=""
NEXTAUTH_URL=""
NEXTAUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev